*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 3rem;
    line-height: 3rem;
}
.choice{
    height: 125px!important;
    width: 125px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}
.choice:hover{
    background-color: black;
    
}
img{
    height: 100px;
    width: 100px;
    
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem !important;
    margin-top: 3rem;
    gap:3rem;
}
#user-score,#computer-score{
    font-size: 4rem !important;
}
.msg-container{
    margin-top: 3rem;
}
#msg{
    background-color: #081b31;
    color:#fff;
    height: 5rem;
    line-height: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem !important;
}
@media(min-width:320px){
    .choice{
        height: 100px !important;
        width: 55px !important;  
    }
    .msg-container{
        margin-top: 10px;
    }
}
/* @media (min-width:468px) {
 
}
@media (min-width:768px) {
 
}
@media (min-width:1024px) {
   
}
@media (min-width:1200px) {
   
} */
